# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries used for Data Science
- Build a Data Scientist Tools table
- Introduce simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of commonly used libraries used by Data Scientist includes:
1. Numpy
2. Pandas
3. Matplotlib
4. Ggplot

| Data Scientist Tools |
| --- |
| Jupyter |
| RStudio |
| Git |

### Below are a few examples of evaluating arithmetic expression in Python.

This is a simple example of an arithmetic expression:

In [1]:
(3 * 4) + 5

17

This will convert 200 minutes to hours by dividing by 60

In [4]:
def toHours(t): return t / 60
toHours(200)

3.3333333333333335

## Author
Luan Caliendo